<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/search" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Twitter Sentiment Analysis</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Search Query" name="search_query">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Max Tweets" name="max_tweets">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
				<br>
			</div>

			<div class="login-form">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<p class="error-message">{{ message }}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>
</form>

{% endblock %}
